# Dependencies
node_modules

# Build output
dist
dist-ssr

# Editor directories
.vscode
.idea
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.cache

# Tests
coverage

# E2E Tests
test-results/
playwright-report/
cypress/screenshots/
cypress/videos/
